<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Resources'}); %>
</head>

<body>
  <%- include('../partials/header'); %>
  <div class="container">
    <div class="row">
      <div class="col m3"></div>
      <div class="col m6 s12">
        <ul class="category-list">
          <h4><%= name %></h4>
          <% for(const entryName of entries) { %>
              <li><a href="/<%= entryName %>"><%= entryName %></a></li>
            <% } %>
        </ul>
        <%- include('../partials/footer'); %>
      </div>
      <div class="col m3"></div>
    </div>
  </div>
</body>

</html>
