<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: entryName}); %>
</head>

<body>
  <div class="container">
    <%- include('../partials/header'); %>

    <h2 class="center-align"><%= entryName %></h1>
      <ul>
        <li><%= entryData.overviewLinks[0].name %></li>
      </ul>

      <%- include('../partials/footer'); %>
  </div>
</body>

</html>
