<% const getFullName = (embed) => {
  switch(embed.type) {
    case 'reddit':
      return `/r/${embed.url.split('/')[4]}`;
    case 'wikipedia':
      return embed.entryName;
    case 'sep':
      return 'SEP';
  }
} %>

<%
  const getEmbedIcon = (embedType) => {
    switch(embedType) {
      case 'reddit':
        return '<i class="fab fa-reddit-alien"></i>';
      case 'wikipedia':
        return '<i class="fab fa-wikipedia-w"></i>';
      case 'github':
        return '<i class="fab fa-github"></i>';
    }
  }
%>
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: entryName}); %>
</head>

<body>
  <%- include('../partials/header'); %>
  <% if(entryData) { %>
  <div class="row">
    <div class="col m3"></div>
    <div class="col m6 s12">
      <% if(categories[0]) { %>
        <div class="col s12">
          <a href="/categories" class="breadcrumb">Categories</a>
        <% for(const breadcrumb of categories[0].split('~')) { %>
            <a href="/categories/<%= breadcrumb %>" class="breadcrumb"><%= breadcrumb %></a>
          <% } %>
        </div>
      <% } %>
      <div class="section">
        <h4><br><%= entryName %></h4>
      </div>
      <div class="divider"></div><br>

      <script src="js/embed.js"></script>
      <ul class="tabs">
        <% if(entryData.sections) { %>
          <li class="tab"><a class="active" href="#links"><i class="fas fa-link"></i></a></li>
        <% } %>
        <li class="tab"><a href="#wikipedia"><i class="fab fa-wikipedia-w"></i></a></li>
        <% if(entryData.config && entryData.config.embeds) { %>
          <% for(const [embedIndex, embedData] of Object.entries(entryData.config.embeds)) { %>
            <li class="tab"><a href="#embed<%= embedIndex %>"><%- getEmbedIcon(embedData.type) %></a></li>
          <% } %>
        <% } %>
      </ul>
      <div id="links">
        <% if(entryData.sections) { %>
          <%- include('../partials/links', { sections: entryData.sections, sectionDescriptions: entryData.sectionDescriptions, md }); %>
        <% } %>
      </div>
      <%- include('../partials/embed', { elementId: 'wikipedia', embedData: {type: 'wikipedia', entryName} }); %>
      <% if(entryData.config && entryData.config.embeds) { %>
        <% for(const [embedIndex, embedData] of Object.entries(entryData.config.embeds)) { %>
          <%- include('../partials/embed', { elementId: `embed${embedIndex}`, embedData, md }); %>
        <% } %>
        <% } %>
      <%- include('../partials/footer', { entryName }); %>
    </div>
    <div class="col m3"></div>
  </div>
  <% } %>
  <script src="js/entry.js"></script>

</body>

</html>
