<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: entryName}); %>
</head>

<body>
  <%- include('../partials/header'); %>
  <div class="row">
    <div class="col m3"></div>
    <div class="col m6 s12">
      <div class="section">
        <h4><br><%= entryName %></h4>
      </div>
      <div class="divider"></div><br>

      <script src="js/embed.js"></script>
      <ul class="tabs">
        <li class="tab"><a class="active" href="#links">Links</a></li>
        <li class="tab"><a href="#wikipedia">Wikipedia</a></li>
      </ul>
      <div id="links">
        <% if(entryData.sections) { %>
        <%- include('../partials/links', { sections: entryData.sections }); %>
        <% } %>
      </div>
      <div id="wikipedia">
        <%- include('../partials/embed', { embedData: {type: 'wikipedia', entryName} }); %>
      </div>
      <%- include('../partials/footer', { entryName }); %>
    </div>
    <div class="col m3"></div>
  </div>
  <script src="js/entry.js"></script>

</body>

</html>
