<div id="<%= elementId %>"></div>
<script>
  <% if(embedData.type === 'wikipedia') { %>
    fetchWikiEmbed('<%= elementId %>', <%- JSON.stringify(embedData) %> );
  <% } else if(embedData.type === 'reddit') { %>
    fetchRedditEmbed('<%= elementId %>', <%- JSON.stringify(embedData) %> );
  <% } else if(embedData.type === 'github') { %>
    fetchGithubEmbed('<%= elementId %>', <%- JSON.stringify(embedData) %>, <% md %> );
  <% } else if(embedData.type === 'sep') { %>
    fetchSepEmbed('<%= elementId %>', <%- JSON.stringify(embedData) %> );
  <% } %>
  console.log(<% md %>)
</script>
