<% const useSubredditIfExists = (url, hostname) => hostname === 'reddit.com' ? `/r/${url.split('/')[4]}` : hostname %>
<% const getHostname = (url) => new URL(url).hostname.replace('www.', '') %>
<% const subredditOrHostname = (url) => useSubredditIfExists(url, getHostname(url)) %>
<% const subredditText = (url) => getHostname(url) === 'reddit.com' ? ' subreddit-text' : '' %>
<h5 class="section"><%= sectionTitle %></h5>
<div class="collection">
  <% for(const item of items) { %>
  <% if(item.url) { %>
  <a href="<%= item.url %>" class="collection-item<%= subredditText(item.url) %>">
    <span class="item-name"><%= item.name %></span>
    <span class="right item-hostname"><%= subredditOrHostname(item.url) %></span>
  </a>

  <% } else {%>
  <div class="collection-item"><%= item.name %></div>
  <% } %>
  <% } %>

</div>
